SIMA_NED_Version/LabVIEW Data/Shared Library/mapping.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by etrew (fgr) -->
<!--DTD generated by Godpheray Pan @ NISH Dec. 25th 2005-->
<!ELEMENT CParaType (#PCDATA)>
<!ELEMENT LVCtrlDefaultValue (#PCDATA)>
<!ELEMENT LVCtrlIO (#PCDATA)>
<!ELEMENT LVCtrlIncrement (#PCDATA)>
<!ELEMENT LVCtrlItem (LVCtrlItemLabel, LVCtrlItemValue)>
<!ELEMENT LVCtrlItemLabel (#PCDATA)>
<!ELEMENT LVCtrlItemList (LVCtrlItem)>
<!ELEMENT LVCtrlItemValue (#PCDATA)>
<!ELEMENT LVCtrlMaximum (#PCDATA)>
<!ELEMENT LVCtrlMinimum (#PCDATA)>
<!ELEMENT LVCtrlPass (#PCDATA)>
<!ELEMENT LVCtrlRepresentation (#PCDATA)>
<!ELEMENT LVCtrlType (#PCDATA)>
<!ELEMENT map (CParaType, LVCtrlIO*, LVCtrlType*, LVCtrlPass*, LVCtrlRepresentation*, LVCtrlDefaultValue*, LVCtrlMinimum*, LVCtrlMaximum*, LVCtrlIncrement*, LVCtrlItemList?)>
<!ELEMENT mapping (map+)>
