SIMA_NED_Version/LabVIEW Data/Shared Library/VIConfig.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by Godpheray Pan @ NISH Dec. 5th 2006-->
<!ELEMENT CFuncName (#PCDATA)>
<!ELEMENT LVVIReentrant (#PCDATA)>
<!ELEMENT LVExecutionSystem (#PCDATA)>
<!ELEMENT LVCLNReentrant (#PCDATA)>
<!ELEMENT LVCLNCallingConvention (#PCDATA)>
<!ELEMENT CParaName (#PCDATA)>
<!ELEMENT DLL (Function+)>
<!ELEMENT Function (CFuncName, LVVIHelp?, LVVIName?, LVVIReentrant?, LVExecutionSystem?, LVCLNReentrant?, LVCLNCallingConvention?, LVVIParameterList*)>
<!ELEMENT LVCtrlDefaultValue (#PCDATA)>
<!ELEMENT LVCtrlHelp (#PCDATA)>
<!ELEMENT LVCtrlIO (#PCDATA)>
<!ELEMENT LVCtrlIncrement (#PCDATA)>
<!ELEMENT LVCtrlMaximum (#PCDATA)>
<!ELEMENT LVCtrlMinimum (#PCDATA)>
<!ELEMENT LVCtrlName (#PCDATA)>
<!ELEMENT LVCtrlPass (#PCDATA)>
<!ELEMENT LVCtrlRepresentation (#PCDATA)>
<!ELEMENT LVCtrlType (#PCDATA)>
<!ELEMENT LVVIHelp (#PCDATA)>
<!ELEMENT LVVIName (#PCDATA)>
<!ELEMENT AllocateMemoryInLV (#PCDATA)>
<!ELEMENT UseGetValueByPointer (#PCDATA)>
<!ELEMENT LVCtrlCreateIndicator (#PCDATA)>
<!ELEMENT PointerInCluster (AllocateMemoryInLV+, UseGetValueByPointer+, LVCtrlDefaultValue+)>
<!ELEMENT LVVIParameter (CParaName, LVCtrlHelp?, LVCtrlName?, LVCtrlIO?, LVCtrlType?, LVCtrlLocation?, LVCtrlPass?, LVCtrlRepresentation?, LVCtrlDefaultValue?, LVCtrlMinimum?, LVCtrlMaximum?, LVCtrlIncrement?, LVCtrlArraySizeType?, LVCtrlArrayFixedSize?, PointerInCluster*, LVCtrlCreateIndicator?)>
<!ELEMENT LVVIParameterList (LVVIParameter+)>
